<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.muxiaozi.circle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".net.DataService" />

        <activity android:name=".main.MainActivity" />

        <activity android:name=".room.RoomActivity" />
        <activity android:name=".room.PlayerInfo" />

        <activity
            android:name=".game.flappy_bird.FlappyBirdActivity"
            android:theme="@style/AppTheme.FullScreen" />

        <activity android:name=".game.link.LinkActivity"
            android:theme="@style/AppTheme.FullScreen" />

        <activity android:name=".navigation.SetInfoActivity" />
        <activity android:name=".navigation.SettingActivity" />
        <activity android:name=".navigation.AboutActivity" />
        <activity android:name=".navigation.FeedBackActivity" />
        <activity android:name=".navigation.HelpActivity" />
        <activity android:name=".navigation.SelectHeadImg" />
    </application>

</manifest>